
a, a:hover {
  text-decoration: none;
}


.home-hero {
  position: relative;
  margin-bottom: 26px;
}
.home-hero-swiper {
  position: relative;
  height: 460px;
  overflow: hidden;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.home-hero-swiper .swiper-slide {
  width: 1226px;
  height: 460px;
  text-align: right;
}
.swiper-container-fade .swiper-slide {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.swiper-slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
}
.home-hero-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 460px;
}
.home-hero-swiper .swiper-slide a {
  display: block;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}
.home-hero-swiper .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  border: 2px solid #fff;
  border-color: hsla(0,0%,100%,.3);
  border-radius: 10px;
  overflow: hidden;
  background: rgba(0,0,0,.4);
  opacity: 1;
}
.home-hero-swiper .swiper-pagination {
  width: 400px;
  left: auto;
  right: 30px;
  bottom: 20px;
  text-align: right;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 10;
}
.swiper-pagination-clickable .swiper-pagination-bullet
{
  cursor: pointer;
  display: inline-block;
}
.home-hero-swiper .swiper-pagination-bullet_select
{
  background: hsla(0,0%,100%,.4);
  border-color: rgba(0,0,0,.4);
}
.home-hero-swiper .swiper-pagination-bullet:hover
{
  background: hsla(0,0%,100%,.4);
  border-color: rgba(0,0,0,.4);
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -35px;
  z-index: 10;
  cursor: pointer;
  outline: none;
}
.swiper-button-prev {
  background: url(../img/icon-slides.png) no-repeat -84px 50%;
  left: 234px;
}
.swiper-button-next {
  background: url(../img/icon-slides.png) no-repeat -125px 50%;
  right: 0;
}
.swiper-button-prev:hover {
  background: url(../img/icon-slides.png) no-repeat 0px 50%;
}
.swiper-button-next:hover {
  background: url(../img/icon-slides.png) no-repeat -43px 50%;
}
.site-category {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
}
.site-category-list.site-category-list-custom {
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(105,101,101,.6);
}
.site-category-list {
  height: 418px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border: 1px solid #ff6700;
  color: #424242;
  background: #fff;
}
.site-category-list.site-category-list-custom {
  height: 420px;
  border: 0;
  color: #fff;
  background: rgba(105,101,101,.6);
}
.site-category-list {
  height: 418px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border: 1px solid #ff6700;
  color: #424242;
  background: #fff;
}
.site-category-list.site-category-list-custom .title {
  color: #fff;
}
.site-category-list .title {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
  font-size: 16px;
}
.site-category-list .title:hover {
  background: #ff6700;
}
.sub_banner {
  width: 1226px;
  height: 170px;
  margin-top: 15px;
}
.sub_banner .sidebar {
  width: 234px;
  height: 170px;
  background: #5f5750;
}
.fl {
  float: left;
}
.xfl {
  display: block;
  width: 78px; height:89px;
  text-align: center;
  opacity: .7;
  color: #fff;
  font-size: 12px;
  float: left;
}
.xfl:hover {
  opacity: 1;
}
.fl i{
  margin-top: 18px;
  display: block;
  font-size: 28px;color: #fff
}
.sub_banner .datu {
  width: 316px;
  height: 170px;
  margin-left: 14px;
}
.fl {
  float: left;
}
.sub_banner .datu a img {
  width: 316px;
  height: 170px;
  opacity: 0.8;
}
.home-main {
  padding-top: 4px;
  padding-bottom: 12px;
}
.page-main {
  background: #f5f5f5;
}
.home-brick-box {
  margin-bottom: 8px;
}
.xm-plain-box .box-hd {
  position: relative;
  height: 58px;
  -webkit-font-smoothing: antialiased;
}
.xm-plain-box .box-hd .title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.xm-plain-box .box-hd .more {
  position: absolute;
  top: 0;
  right: 0;
}
.xm-plain-box .box-hd .more .more-link {
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.xm-plain-box .box-hd .more .more-link:hover {
  color: #ff6700;
}
.xm-plain-box .box-hd .more .more-link .iconfont {
  width: 12px;
  height: 12px;
  padding: 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #b0b0b0;
  color: #fff;
  vertical-align: 1px;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.clearfix:after {
  clear: both;
}
.clearfix:after, .clearfix:before {
  content: " ";
  display: table;
}
.row {
  margin-left: -14px;
}
.span4 {
  width: 234px;
}
.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 {
  float: left;
  margin-left: 14px;
  min-height: 1px;
}
.home-brick-box .brick-list, .home-brick-box .brick-promo-list {
  margin: 0 0 -14px -14px;
}
.brick-list, .brick-promo-list {
  height: 614px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.brick-item-l {
  height: 614px;
}
.brick-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
}
.brick-item:hover {
  z-index:2;
  -webkit-box-shadow:0 15px 30px rgba(0,0,0,.1);
  box-shadow:0 15px 30px rgba(0,0,0,.1);
  -webkit-transform:
  translate3d(0,-2px,0);
  transform:translate3d(0,-2px,0)}.brick-item-l{height:614px}.brick-item-m{height:246px;padding:34px 0 20px
}
.brick-promo-list a {
  display: block;
  width: 100%;
  height: 100%;
}
.brick-promo-list .brick-item-l img {
  height: 614px;
}
.brick-promo-list img {
  width: 234px;
}
.span16 {
  width: 978px;
}
.home-brick-box .brick-list, .home-brick-box .brick-promo-list {
  margin: 0 0 -14px -14px;
}
.brick-list {
  width: 992px;
}
.brick-list, .brick-promo-list {
  height: 614px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.brick-item-m-2 {
  height: 260px;
  padding: 20px 0;
}
.brick-item-m {
  height: 246px;
  padding: 34px 0 20px;
}
.brick-item {
  position: relative;
  z-index: 1;
  float: left;
  width: 234px;
  margin-left: 14px;
  margin-bottom: 14px;
  background: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.brick-item-m-2 .title {
  margin: 0 10px 2px;
}
.brick-item-m .desc, .brick-item-m .title {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.brick-item-m .title {
  margin: 0 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.brick-item-m .desc {
  margin: 0 10px 10px;
  height: 18px;
  font-size: 12px;
  color: #b0b0b0;
}
.brick-item-m .desc, .brick-item-m .title {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.brick-item-m-2 .price {
  margin: 0 10px 14px;
}
.brick-item-m .price {
  margin: 0 10px 10px;
  text-align: center;
  color: #ff6700;
}
.brick-item-m .price {
  margin: 0 10px 10px;
  text-align: center;
  color: #ff6700;
}
.brick-item-m .figure-img {
  margin: 0 auto 18px;
}
.brick-item-m-2 .figure-img, .brick-item-m-2 .figure-img img {
  width: 200px;
  height: 150px;
}
.brick-promo-list .brick-item-m {
  height: 300px;
  padding: 0;
}

.site-category-list .children {
  display: block;
  position: absolute;
  left: 234px;
  top: 0;
  z-index: 24;
  height: 458px;
  border: 1px solid #e0e0e0;
  border-left: 0;
  background: #fff;
  -webkit-box-shadow: 0 8px 16px rgba(0,0,0,.18);
  box-shadow: 0 8px 16px rgba(0,0,0,.18);
}
.site-category-list .children-col-4 {
  width: 992px;
}
.site-category-list .children-list {
  height: 458px;
  margin: 0;
  padding: 2px 0;
  list-style-type: none;
}
.site-category-list .children-list-col {
  float: left;
  width: 265px;
}
.site-category-list .children-col-4 .children-list-col {
  width: 248px;
}
.site-category-list .children-list li {
  position: relative;
  float: left;
  width: 225px;
  height: 35px;
  padding: 20px 10px;
}
.site-category-list .children-list .link {
  display: block;
  padding: 18px 20px;
  line-height: 40px;
  color: #333;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.site-category-list .children-list .thumb {
  float: left;
  margin-right: 12px;
  vertical-align: middle;
}
.site-category-list .children-list .text {
  float: left;
  width: 160px;
  line-height: 40px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
.site-category-list .children-list .text:hover {
   color: #ff6700;
 }
.swiper-slide_transition-enter-to {
  opacity: 1;
  transition: all 400ms ease;
}
.swiper-slide_transition-leave-to
{
  opacity: 0;
  transition: all 400ms ease;
}
